.row
.row
  .col.s12.m8.offset-m2
    %a{:href => "https://lin.ee/tAcbPS7" }
      %img{:width => "100%", :src => "/images/mindtravel_flyer.jpg"}/
.row
.row
  .col.s12.m8.offset-m2
    %a{:href => "https://lin.ee/tAcbPS7" }
      %img{:width => "100%", :src => "/images/line_banner.png"}/
.top-section-label Music
.row.top-card-grid
  .col.s12.m6
    %a{:href => "/features"}
      .card.medium.waves-effect.waves-block.waves-light
        .card-image
          %img{:height => "200", :src => "/images/feature.png"}/
        .card-content 特集
  .col.s12.m6
    %a{:href => "/artists?has_prefix=a"}
      .card.medium.waves-effect.waves-block.waves-light
        .card-image
          %img{:height => "200", :src => "/images/artist.jpg"}/
        .card-content アーティスト一覧から探す
  .col.s12.m6
    %a{:href => "/records?has_prefix=a"}
      .card.medium.waves-effect.waves-block.waves-light
        .card-image
          %img{:height => "200", :src => "/images/record.jpg"}/
        .card-content レコード一覧から探す
  .col.s12.m6
    %a{:href => "/tracks?has_prefix=a"}
      .card.medium.waves-effect.waves-block.waves-light
        .card-image
          %img{:height => "200", :src => "/images/track.jpg"}/
        .card-content ハイレゾ一覧から探す
.top-info-label
  ※フリーワード検索は右上の
  %i.material-icons> search
  から
.row
.row
  .col.s8.offset-s2.m6.offset-m3.l4.offset-l4.xl2.offset-xl5
    %a{:href => "https://bar.spincoaster.com/" }
      %img{:width => "100%", :src => "/images/bar_logo.png"}/
