.row
.row
  .col.s12.m8.offset-m2
    %a{:href => "https://mindtravel.spincoaster.com", target: "_blank" }
      %img{:width => "100%", :src => "/images/mindtravel_2023_flyer.jpg"}/
.row.top-card-grid
  .col.s12.m6
    %a{:href => "/shinjuku"}
      .card.small.waves-effect.waves-block.waves-light
        .card-image
          %img{:height => "200", :src => "/images/shinjuku.jpg"}/
        .card-content SHINJUKU
  .col.s12.m6
    %a{:href => "/ebisu"}
      .card.small.waves-effect.waves-block.waves-light
        .card-image
          %img{:height => "200", :src => "/images/ebisu.jpg"}/
        .card-content EBISU
.row
.row
  .col.s8.offset-s2.m6.offset-m3.l4.offset-l4.xl2.offset-xl5
    %a{:href => "https://bar.spincoaster.com/" }
      %img{:width => "100%", :src => "/images/bar_logo.png"}/
.row
  .col.s12.m8.offset-m2
    %a{:href => "https://lin.ee/tAcbPS7", target: "_blank" }
      %img{:width => "100%", :src => "/images/line_banner.png"}/
