#record-modal.modal
  .modal-content
    %h4#record-title Song Title
    %h5
      %i.material-icons assignment_ind
      %span#record-artist Artist name
    %h5
      %i.material-icons perm_identity
      %span#record-owner Owner name
    %h5
      %i.material-icons markunread_mailbox
      %span#record-location A-A
    %p この曲をお聴きになられたい場合は、この画面をスタッフにをお見せください。
    %p If you want to listen to this song, show this message to a staff
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Close
