#track-modal.modal
  .modal-content
    %h4#track-title Track Title
    %h5
      %i.material-icons assignment_ind
      %span#track-artist Artist name
    %h5
      %i.material-icons library_music
      %span#track-album Album name
    %p この曲をお聴きになられたい場合は、この画面をスタッフにお見せください。
    %p If you want to listen to this song, show this message to a staff
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "javascript:void(0)"} Close
