.pagination {
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.back {
    position: fixed;
    left: 12px;
    bottom: 12px;
    opacity: 0.75;
}

.side-nav > li > a {
    height:      72px !important;
    line-height: 72px !important;
}
.side-nav > li > a > i {
    height:      72px !important;
    line-height: 72px !important;
}

#title {
    font-size: 1.4rem;
}

