.table-caption {
    float: left;
    font-size: 32px;
    margin: 0;
}
.table-caption > i {
    float: left;
}
.table-caption > span {
    display: inline;
    float: left;
    margin-top: 7px;
}

.pagination {
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.pagination li {
    height: auto;
}
.pagination li a {
    line-height: 60px;
}

.back {
    position: fixed;
    left: 12px;
    bottom: 12px;
    opacity: 0.75;
}


.side-nav > li > a {
    font-size: 32px;
    height:      72px !important;
    line-height: 72px !important;
}
.side-nav > li > a > i {
    height:      72px !important;
    line-height: 72px !important;
}

i {
    color: black !important;
}

nav i {
    color: white !important;
}


.back > i {
    color: white !important;
}

#title {
    font-size: 1.4rem;
}

.name-label {
    width: 60px;
}

h5 > span > i {
    margin-top: 4px;
}

.logo {
    margin-top: 8px;
    width: 240px;
    height: 44px;
}

@media only screen and (max-width: 1024px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
    .navbar-fixed {
        height: 80px;
    }
    .logo {
        margin-top: 18px;
    }
    .table-caption {
        font-size: 32px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 30.5px;
    }
}

@media only screen and (min-width: 0) {
    html {
        font-size: 30px;
    }
}

.modal {
    max-height: 80%;
}

.modal-content {
    font-size: 30px;
}

.modal-footer > .btn-flat {
    padding: 0 16px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 48px;
}

.search-results {
}

.search-bar-icons {
    color: black !important;
}

tbody {
    border-bottom: 1px 0px 0 1px solid #d0d0d0;
}

th {
    font-size: 0.75em;
}
th, td {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #d0d0d0;
}
th.right-edge, td.right-edge {
    border-width: 0 0 1px 0;
}
th.cell, td.cell {
    border-width: 0 0 1px 0;
}

.pagination {
    margin-top: 8px;
    margin-bottom: 0px;
}

.feature-item-button {
}

.feature-item-table-caption {
    text-align: left;
}

.feature-item-button > a > i {
    color: white !important;
}

.top-carousel {
    height: 200px;
    width: 100%;
    overflow-x: scroll;
    --webkit-overflow-scrolling: touch;
}

.top-carousel-inner {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
}

.top-carousel-item {
    display: inline-block;
    height: 100px;
    margin: 8px;
    float: top;
}

.top-carousel-item-icon {
    font-size: 40px;
}
