#remove-feature-modal.modal.admin-modal
  %input#csrf_token{ :type => "hidden", :value => form_authenticity_token }
  .modal-content
    Are you sure to delete the feature?
  .modal-footer
    %a#remove-feature-submit-button.modal-action.modal-close.waves-effect.waves-green.btn-flat Delete
